@import url("https://fonts.googleapis.com/css2?family=Ribeye&family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

/*
font-family: 'Roboto', sans-serif;
font-family: 'Ribeye', cursive;
font-family: 'Righteous', cursive;
*/

$blue: #5b6ee1;
$gray: #454545;

html{
    background-color: #ccd3ff;
}

* {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

h1 {
    color: $gray;
    font-size: 4em;
    width: 70%;
    text-align: center;
    font-family: "Ribeye", cursive;
}
h2 {
    font-family: "Ribeye", cursive;
    font-size: 48px;
    color: white;
}
h3 {
    font-size: 36px;
    font-family: "Righteous", cursive;
    color: $gray;
}

svg {
    width: 100%;
}

.App{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.btn {
    text-decoration: none;
    color: $gray;
    background-color: white;
    padding: 8px 24px;
    border-radius: 5px;
    border: 1px solid;
}

label {
    color: white;
}

input,
textarea {
    border: none;
    padding: 8px;
    border-radius: 4px;
    &:focus {
        outline: none;
    }
}



.header {
    font-size: 24px;
    display: flex;
    justify-content: center;
    background-color: #5b6ee1;
    border-bottom: 1px solid #8c9cff;
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 1;
    .container {
        z-index: 1;
        width: 100%;
        display: flex;
        justify-content: space-between;
        color: white;
        padding: 24px 30px;
    }
    &__link {
        text-decoration: none;
        color: inherit;
        &:not(:last-child) {
            margin-right: 55px;
        }
    }
}

.preview {
    padding: 146px 30px 0 30px;
    .container {
        display: flex;
    }
    .about {
        flex: 0 1 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        &__title {
            font-size: 24px;
            font-weight: bold;
            color: $blue;
        }
        &__text {
            text-align: justify;
            font-size: 22px;
            font-weight: 500;
            color: #7e7e7e;
            width: 75%;
        }
    }
    img {
        border-radius: 50%;
        border: 3px solid;
    }
}

.about-page{
    .about__stack{
        display: flex;
        justify-content: space-between;
        img{
            width: 100%;
        }
    }
    .about__technnology{
        width: 12%;
    }
    p {
        margin: 2em 0;
        text-align: center;
        font-size: 24px;
        font-family: 'Roboto';
        color: $gray;
    }
    h2{
        text-align: center;
        margin: 1em 0;
        color: $gray;
    }
}

.projects {
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    display: flex;
    h2 {
        margin: 0.5em 0 0.5em 0;
    }
    margin-bottom: 35px;
    margin-top: calc(77px + 35px);
    background-color: $blue;
    &__container {
        max-width: 792px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        .more {
            margin: 2em 0;
        }
    }
    &__item {
        display: flex;
        border-radius: 10px;
        height: 310px;
        background-color: #ccd3ff;
        > img {
            object-fit: cover;
            width: 50%;
            border-radius: 0 10px 10px 0;
        }
        &:not(:last-child) {
            margin-bottom: 4em;
        }
    }
    &__info {
        width: 50%;
        padding: 2em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }
    &__text {
        font-size: 26px;
        margin: 8px 0;
        &.small{
            font-size: 22px;
        }
    }
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: 0 auto;
    height: 300px;
    background-color: #5b6ee1;
    border-radius: 10px;
    padding: 2em 0;
    margin-bottom: 2em;
    .contact-form {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 50%;
        justify-content: space-between;
    }
}

footer {
    background-color: #5b6ee1;
    display: flex;
    justify-content: center;
    padding: 24px 0;
    border-top: 1px solid #8c9cff;
    small {
        color: white;
    }
}

@media (max-width: 992px) {
    .avatar{
        display: none;
    }
    .projects{
        padding: 0 30px;
        &__item{
            height: auto;
        }    
    }
    .form{
        width: 70%;
    }
    .about-page {
        .about__technnology{
            width: auto;
            flex: 0 1 33.333%;
        }
    }
    .about__stack{
        padding: 0 30px;
        flex-wrap: wrap;
    }
    h1{
        font-size: 3em;
    }
}

@media (max-width: 768px) {
    .header{
        position: relative;
        .container{
            flex-direction: column;
            align-items: center;
        }
        &__nav{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__link{
            margin-right: 0px !important;
        }
    }
	.preview{
        .about{
            &__text{
                width: auto;
            }
            &__title{
                text-align: center;
            }
        }
    }
    h1{
        width: auto;
    }
    .projects{
        &__info{
            width: auto;
        }
        &__item{
            flex-direction: column-reverse;
            >img{
                width: 100%;
                border-radius: 10px 10px 0 0;
            }
        }
    }
}

@media (max-width: 480px) {
	.about-page {
        .about__technnology{
            flex: 0 1 80%;
        }
        .about__stack{
            justify-content: center;
        }
    }
    .form{
        width: auto;
        margin: 30px;
        .contact-form{
            width: 80%;
        }
        h2{
            font-size: 2em;   
        }
    }
}